<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Item details</title>
<link rel="stylesheet" href="/style/styles.css">
  </head>
  
    <div class="item-display">
    <h1>item details</h1>
    <p>Item Id : <%= res.id %></p>
    <p>Item Name : <%= res.name %></p>
    <p>Item type : <%= res.type %></p>
    <p>Amount : <%= res.amount %></p>
    <p>Processor : <%= res.processor %></p>
    <a href="/"><button>Home</button></a>
    </div>
  </body>
</html>
