<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Item details</title>
<link rel="stylesheet" href="/style/styles.css">
  </head>
  
    <!-- <div class="item-display"> -->
    <h1>item details</h1>
    <div class="item-display">
    <p><span> Item Id :</span> <%= res.id %></p>
    <p><span>Item Name :</span> <%= res.name %></p>
    <p><span>Item type :</span> <%= res.type %></p>
    <p><span>Amount :</span> <%= res.amount %></p>
    <p><span>Processor :</span> <%= res.processor %></p>
  </div>
    <a href="/"><button>Home</button></a>
    </div>
  </body>
</html>
